{% extends 'base.html' %}
{% block 'content' %}
{% if form.errors %}
    <p>Su nombre de usuario y contraseña no coinciden. Inténtalo de nuevo.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
    <p>Su cuenta no tiene acceso a esta página. Para continuar, inicie sesión con una cuenta que tenga acceso.</p>
{% else %}
    <p>Por favor inicie sesión para ver esta página.</p>
{% endif %}
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-4 col-md-12 py-4">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {% for campo in form %}
                <div class="mb-3">
                    <div class="text-danger">
                        {{ campo.erorrs }}
                    </div>
                    <label for="{{ campo.id_for_label }}" class="form-label">
                        {{ campo.label_tag }}
                    </label>
                    <div>
                        {{ campo }}
                    </div>
                </div>
                {% endfor %}
                <div class="py-2">
                    <input type="submit" value="Iniciar sesión" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </div>
            </form>
        </div>
        <div class="col-12 py-2">
            <p><a href="{% url 'password_reset' %}">¿Olvidó su contraseña?</a></p>
            <p><a href="{% url 'signup' %}">Registrate!</a></p>
        </div>
        
    </div>
</div>
{% endblock 'content'%}